<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- логи Hibernate -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.orm" level="WARN"/>
    <logger name="org.hibernate.boot" level="WARN"/>
    <logger name="org.hibernate.cfg" level="WARN"/>

    <!-- логи C3P0 -->
    <logger name="com.mchange" level="WARN"/>

    <!-- логи Flyway -->
    <logger name="org.flywaydb" level="INFO"/>

    <logger name="org.nosulkora.postmaker" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>